* {
    color: royalblue;
}

body {
    background-color: black;
}

h1 {
    color: lightskyblue;
    text-align: center;
    font-size: 40px;
}
table {
    width = 100%;
}

table {    
    align-content: center;
    vertical-align: central;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid blue;
    color: lightblue;
    align-content: center;
    text-align: center;
}

table button{
    padding: 5px;
    background-color: mediumblue;
    color: coral;
}

th, td {
    padding: 5px;
}

th {
    background-color: navy; 
    color:  aliceblue;
}


#formdiv {
    display: flex;
    flex-direction: column;
}

    #formdiv button {
        width: 80px;
        height: 30px;
        align-content: center;
        margin: auto;
        padding: 10px;
        color: lightblue;
        border-color: lightblue;
        background-color: mediumblue;
        font-weight: bolder;
        text-align: center;
        vertical-align: central;
        margin-bottom: 20px;
        margin-top: 15px;
    }

#lbl {
        color: aliceblue;
    }
#formdiv label, button, input {
    margin: 2px;
    padding: 4px;
}

    #formdiv label {
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5px;
    }

#formdiv input {
    width: 300px;
    align-self: center;
    margin-bottom: 10px;
    background-color: lightblue;
    color: black;
}

li {
    width: 20px;
    align-content: center;
}
