* {
    color: aliceblue;
}

#logo {
    background-color: #b50138;
    height: 50px;
    align-content: center;
    vertical-align: central;
    width: 100%;
}
    #logo h1 {
        color: aliceblue;
        text-align: center;
        font-size: 40px;
        align-content: center;
    }

body {
    background-color: black;
}

table {    
    align-content: center;
    vertical-align: central;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #93012e;
    color: aliceblue;
    align-content: center;
    text-align: center;
}

    table button {
        padding: 5px;
        background-color: #4e6f8c;
        color: aliceblue;
        border-color: #364c60;
    }

th, td {
    padding: 5px;
}

th {
    background-color: #a40133;
    color: aliceblue;
}


#formdiv {
    display: flex;
    flex-direction: column;
}

    #formdiv button {
        width: 80px;
        height: 30px;
        align-content: center;
        margin: auto;
        padding: 10px;
        color: lightblue;
        border-color: lightblue;
        background-color: mediumblue;
        font-weight: bolder;
        text-align: center;
        vertical-align: central;
        margin-bottom: 20px;
        margin-top: 15px;
    }

#lbl {
        color: aliceblue;
    }
#formdiv label, button, input {
    margin: 2px;
    padding: 4px;
}

    #formdiv label {
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5px;
    }

#formdiv input {
    width: 300px;
    align-self: center;
    margin-bottom: 10px;
    background-color: lightblue;
    color: black;
}

li {
    width: 20px;
    align-content: center;
}
#updateformdiv {
    display: none;
    flex-direction: column;
}

    #updateformdiv button {
        width: 80px;
        height: 30px;
        align-content: center;
        margin: auto;
        padding: 10px;
        color: lightblue;
        border-color: lightblue;
        background-color: mediumblue;
        font-weight: bolder;
        text-align: center;
        vertical-align: central;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    #updateformdiv label, button, input {
        margin: 2px;
        padding: 4px;
    }
    #updateformdiv input {
        width: 300px;
        align-self: center;
        margin-bottom: 10px;
        background-color: lightblue;
        color: black;
    }
#updateformdiv label {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}
